// toolbar variables in agent-detail.vue
$toolbar-height: 50px;
// margin-bottom in agent-detail
$row-margin-bottom: 20px;


@mixin text-align ($align) {
  text-align: $align;
}

@mixin text-ellipsis () {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


@mixin desktop-hd () {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin desktop () {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin tablet () {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin smartphone () {
  @media screen and (max-width: 768) {
    @content;
  }
}
